@model PieListViewModel

<h2>@Model.CurrentCategory</h2>

@foreach (var pie in Model.Pies)
{
    <div>
        <h2>@pie.Name</h2>
        <h3>@pie.Price.ToString("c")</h3>
        <h4>@pie.Category.CategoryName</h4>
    </div>

        <div class="well">
            <h3>
                <strong>@pie.Name</strong>
                <span class="pull-right label label-primary">
                    @pie.Price.ToString("c")
                </span>
            </h3>
            <span class="lead">@pie.ShortDescription</span>
        </div>


}